<!-- Footer -->
<footer class="site-footer clearfix">
  <div class="footer-social">
    <ul class="footer-social-links">
      <li>
        <a href="{{site.data.main.social.instagram.link}}" target="_blank">
          <i class="fab {{site.data.main.social.instagram.icon}}"></i>
        </a>
      </li>
      <li>
      	<a href="{{site.data.main.social.tiktok.link}}" target="_blank">
          <i class="fab {{site.data.main.social.tiktok.icon}}"></i>
        </a>
      </li>
      <li>
    </ul>
  </div>
  <div class="footer-breadcrumbs">
    <span class="separator">|</span>
    {% include breadcrumbs.html %}
  </div>
  <div class="footer-copyrights">
    <p>© 2025-2026 Canis Minoris. SIRET : 98259947400011 - Raison sociale : Suter-Lothe - Nom Commercial : Canis Minoris</p>
  </div>
</footer>
<!-- /Footer -->
