<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Célestine Suter Lothe" />
{% seo %}

<!-- JSON-LD Structured Data for Local Business -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Canis Minoris",
  "description": "Pet sitter professionnel à Saint-Martin-d'Hères et Grenoble. Services de promenade de chiens et visites à domicile pour animaux.",
  "url": "https://canisminoris.fr",
  "telephone": "+33789446042",
  "email": "canisminoris38@gmail.com",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Saint-Martin-d'Hères",
    "addressRegion": "Isère",
    "postalCode": "38400",
    "addressCountry": "FR"
  },
  "areaServed": [
    {
      "@type": "City",
      "name": "Saint-Martin-d'Hères"
    },
    {
      "@type": "City",
      "name": "Grenoble"
    },
    {
      "@type": "City",
      "name": "Meylan"
    },
    {
      "@type": "City",
      "name": "Gières"
    },
    {
      "@type": "City",
      "name": "Bernin"
    },
    {
      "@type": "City",
      "name": "Eybens"
    },
    {
      "@type": "City",
      "name": "Domène"
    },
    {
      "@type": "City",
      "name": "Le Versoud"
    },
    {
      "@type": "City",
      "name": "Saint-Martin-d'Uriage"
    },
    {
      "@type": "City",
      "name": "Montbonnot-Saint-Martin"
    }
  ],
  "priceRange": "€€",
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
    "opens": "08:00",
    "closes": "19:00"
  },
  "sameAs": [
    "https://www.instagram.com/canisminoris38",
    "https://www.tiktok.com/@canisminoris38"
  ]
}
</script>

<link rel="shortcut icon" href="favicon.ico">


<link rel="stylesheet" href="assets/css/normalize.css" type="text/css">
<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="assets/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="assets/css/main.css" type="text/css">
<link rel="stylesheet" href="assets/css/breadcrumbs.css" type="text/css">
<link rel="stylesheet" href="/assets/css/academicons/css/academicons.min.css" />
<script src="assets/js/modernizr.custom.js"></script>
