<!-- Header -->
<header id="site_header" class="header">
  <div class="header-content clearfix">
    
    <!-- Text Logo -->
    <!--div class="text-logo">
      <a href="index.html">
        <div class="logo-text"><span>Canis Minoris</span></div>
      </a>
    </div-->
    <!-- /Text Logo -->

    <!-- Navigation -->
    <div class="site-nav mobile-menu-hide">
      <ul class="leven-classic-menu site-main-menu">
        <li class="menu-item {{page.home_iscurrent}}">
          <a href="index.html">Accueil</a>
        </li>
        <li class="menu-item {{page.about_iscurrent}}">
          <a href="apropos.html">À propos</a>
        </li>
        <li class="menu-item {{page.service_iscurrent}} menu-item-has-children">
          <a>Services</a>
          <ul class="sub-menu">
            <li class="menu-item {{page.s_balade_iscurrent}}">
              <a href="service-balade.html">Balades</a>
            </li>
            <li class="menu-item {{page.s_visite_iscurrent}}">
              <a href="service-visite.html">Visites</a>
            </li>
          </ul>
        </li>
        <li class="menu-item {{page.tarifs_iscurrent}} menu-item-has-children">
          <a>Tarifs</a>
          <ul class="sub-menu">
            <li class="menu-item {{page.t_balade_iscurrent}}">
              <a href="tarif-balades.html">Balades</a>
            </li>
            <li class="menu-item {{page.t_visite_iscurrent}}">
              <a href="tarif-visites.html">Visites</a>
            </li>
          </ul>
        </li>
        <li class="menu-item {{page.act_iscurrent}}">
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>

    <!-- Mobile Menu Toggle -->
    <a class="menu-toggle mobile-visible">
      <i class="fa fa-bars"></i>
    </a>
    <!-- Mobile Menu Toggle -->
  </div>
</header>
<!-- /Header -->
